<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">_
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gjett BMC</title>
    <link rel="stylesheet" href="static/styles/main.css">

</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Hjem</a>
        <a href="/add_bmc">Legg til ny BMC</a>
    </div>

      <!-- Game Bar (Vises når spillet er i gang) -->
    <div id="game-bar" style="display: none;">
        <div id="game-round">Runde: <span id="round-number">1</span></div>
        <div id="game-score">Poeng: <span id="game-score-value">0</span></div>
        <div id="game-time">Tid: <span id="game-time-value">00:00</span></div>
    </div>

    <!-- <div id="round-header" style="display:none;">Runde 1</div> -->
    <!-- Tidtaker og poengsystem -->
    <!-- <div id="clock">Tid: 00:00</div>
    <div id="score">Score: 0</div> -->

    <div id="start-knapp-container">
        <h1 id="start-game">START SPILLET</h1>
    </div>

    <div id="main-image">
        <img src="../static/images/scooby.jpg" alt="scooby" width="300" height="300">
    </div>

    <div id="bmc-container">
        <div class="grid-container">
            <div class="grid-item key-partners">Key Partners: <span id="key_partners"></span></div>
            <div class="grid-item key-activities">Key Activities: <span id="key_activities"></span></div>
            <div class="grid-item key-resources">Key Resources: <span id="key_resources"></span></div>
            <div class="grid-item value-proposition">Value Proposition: <span id="value_proposition"></span></div>
            <div class="grid-item customer-relationships">Customer Relationships: <span id="customer_relationships"></span></div>
            <div class="grid-item channels">Channels: <span id="channels"></span></div>
            <div class="grid-item customer-segments">Customer Segments: <span id="customer_segments"></span></div>
            <div class="grid-item combined-structure">
                <div class="cost-structure">Cost Structure: <span id="cost_structure"></span></div>
                <div class="revenue-streams">Revenue Streams: <span id="revenue_streams"></span></div>
            </div>
        </div>
        

        <div id="guess-container">
            <p id="result" style="display:none;"></p>
            <input type="text" id="guess" placeholder="Guess the company">
            <button id="submit-guess">Send svar</button>
            <button id="next-round" style="display:none;">Neste</button>
        </div>
        
    </div>

    <script src="static/scripts/main.js"></script>
</body>
</html>
