<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Statistics</title>
    <link rel="stylesheet" href="static/styles/stats.css">
    <style></style>

</head>
<body>
    <h1>Game Over!</h1>

    <div class="stats">
        <p>Final Score: {{ score }}</p>
        <p>Time Taken: {{ total_time }}</p>
    </div>

    <button onclick="window.location.href='/'">Play Again</button>
</body>
</html>
