body {
    font-family: Arial, sans-serif;
    background-color: white; /* Hvit bakgrunn */
    padding: 20px;
    text-align: center;
    color: #DD650E; /* Oransje tekst */
}

/* Style for navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DD650E; /* Oransje bakgrunn */
    padding: 14px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar a {
    color: white; /* Hvite lenker */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 100px;
}
.navbar a:hover {
    background-color: white; /* Hvit hover-effekt */
    color: #DD650E; /* Oransje tekst ved hover */
}

/* Heading-styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #DD650E; /* Oransje overskrifter */
}

.stats {
    margin-top: 20px;
    font-size: 24px;
    color: #DD650E; /* Oransje tekst */
}

/* Knapp styling */
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white; /* Hvit bakgrunn */
    color: #DD650E; /* Oransje tekst */
    border: 2px solid #DD650E; /* Oransje kant */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s; /* Myk overgang */
}

button:hover {
    background-color: #DD650E; /* Oransje bakgrunn ved hover */
    color: white; /* Hvit tekst ved hover */
}
